<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="desplegarMenu()">
        <ion-icon slot="start" name="menu" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-accordion-group>
    <ion-accordion value="primer">
      <ion-item slot="header" color="warning">
        <ion-label>Lunes</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="cajaHorario">
        <ion-item color="primary">
          <ion-row>
            <ion-col size="6">PROG. WEB - 008D</ion-col>
            <ion-col size="6">12:00hrs - 14:20hrs //PC208</ion-col>
          </ion-row>
        </ion-item>
        <ion-item color="primary">
          <ion-row>
            <ion-col size="6">CALIDAD SOFTWARE - 002D</ion-col>
            <ion-col size="6">14:30hrs - 16:20hrs //LP245</ion-col>
          </ion-row>
        </ion-item>
        <ion-item color="primary">
          <ion-row>
            <ion-col size="6">INGLÉS INTERMEDIO - 002D</ion-col>
            <ion-col size="6">16:30hrs - 18:50hrs //EN441</ion-col>
          </ion-row>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="segundo">
      <ion-item slot="header" color="warning">
        <ion-label>Martes</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="cajaHorario">
        <ion-item color="primary">
          <ion-row>
            <ion-col size="6">PROG. WEB - 002D</ion-col>
            <ion-col size="6">12:00hrs - 14:20hrs //PC208</ion-col>
          </ion-row>
        </ion-item>
        <ion-item color="primary">
          <ion-row>
            <ion-col size="6">PROG. WEB - 002D</ion-col>
            <ion-col size="6">12:00hrs - 14:20hrs //PC208</ion-col>
          </ion-row>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="tercero">
      <ion-item slot="header" color="warning">
        <ion-label>Miércoles</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="cajaHorario">
        <ion-item color="primary">
          <ion-row>
            <ion-col size="6">PROG. WEB - 002D</ion-col>
            <ion-col size="6">12:00hrs - 14:20hrs //PC208</ion-col>
          </ion-row>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="cuarto">
      <ion-item slot="header" color="warning">
        <ion-label>Jueves</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="cajaHorario">
        <ion-item color="primary">
          <ion-row>
            <ion-col size="6">PROG. WEB - 002D</ion-col>
            <ion-col size="6">12:00hrs - 14:20hrs //PC208</ion-col>
          </ion-row>
        </ion-item>
        <ion-item color="primary">
          <ion-row>
            <ion-col size="6">PROG. WEB - 002D</ion-col>
            <ion-col size="6">12:00hrs - 14:20hrs //PC208</ion-col>
          </ion-row>
        </ion-item>
        <ion-item color="primary">
          <ion-row>
            <ion-col size="6">PROG. WEB - 002D</ion-col>
            <ion-col size="6">12:00hrs - 14:20hrs //PC208</ion-col>
          </ion-row>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="quinto">
      <ion-item slot="header" color="warning">
        <ion-label>Viernes</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="cajaHorario">
        <ion-item color="primary">
          <ion-row>
            <ion-col size="6">PROG. WEB - 002D</ion-col>
            <ion-col size="6">12:00hrs - 14:20hrs //PC208</ion-col>
          </ion-row>
        </ion-item>
        <ion-item color="primary">
          <ion-row>
            <ion-col size="6">PROG. WEB - 002D</ion-col>
            <ion-col size="6">12:00hrs - 14:20hrs //PC208</ion-col>
          </ion-row>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="sexto">
      <ion-item slot="header" color="warning">
        <ion-label>Sábado</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="cajaHorario">
        <ion-item color="primary">
          <ion-label></ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-title slot="start">Duoc UC</ion-title>
  </ion-toolbar>
</ion-footer>