<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="desplegarMenu()">
        <ion-icon slot="start" name="menu" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Gestion Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <h2 class="ion-margin-horizontal">Bienvenido! {{nombre}}</h2>
  <img src="/assets/profesoringresado.png" alt="">
  <ion-button expand="full" color="warning" routerLink="/cursos">
    Cursos a cargo de ti..
  </ion-button>
  <ion-button expand="full" color="warning" routerLink="/desplegar-qr">
    Desplegar Código QR
  </ion-button>
  <ion-button expand="full" color="warning" routerLink="/enviarmsj">
    Enviar Mensajes
  </ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-icon slot="primary" name="logo-instagram"></ion-icon>
    <ion-icon slot="secondary" name="globe"></ion-icon>
    <ion-title>DUOC UC</ion-title>
  </ion-toolbar>
</ion-footer>