<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="desplegarMenu()">
        <ion-icon slot="start" name="menu" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/cursoduoc.jpg" alt="">
  <ion-item color="dark">
    <ion-label>Awesome Label</ion-label>
    <ion-card color="dark">
      <ion-row>
        <ion-col size="6">
          <ion-item color="dark">
            <h3>Somos Más!</h3>
          </ion-item>
        </ion-col>
        <ion-col size="6"><img src="/assets/personas.png" alt=""></ion-col>
      </ion-row>
      <ion-item color="dark">
        <ion-text color="light">
          <h5>Pronto nuevas personas
            se unen a nuestra institución, contamos
            cada día con profesores innovadores, actividades en comunidad y eventos que te harán sentir de DUOC, una experiencia única.</h5>
        </ion-text>
      </ion-item>
    </ion-card>
  </ion-item>
  <img src="/assets/docenteyestudiante.jpg" alt="">
  <ion-item color="dark">
    <ion-label>Awesome Label</ion-label>
    <ion-card color="dark">
      <ion-row>
        <ion-col size="6"><img src="/assets/profesores.jpg" alt=""></ion-col>
        <ion-col size="6">
          <ion-item color="dark">
            <h4>Tenemos a los mejores docentes</h4>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item color="dark">
        <ion-text color="light">
          <h5>Cada uno de nuestros docentes estan siempre dispuestos a ayudarte!, incluso justificando tu asistencia
            y también cuando tengas dudas con tus notas, de manera eficaz a través de mensajes.
          </h5>
        </ion-text>
      </ion-item>
    </ion-card>
  </ion-item>
  <ion-item color="warning">
    <h4>Tienes Problemas o Consultas?</h4>
    <ion-card color="warning">
      <ion-card-content>
        <img src="/assets/preguntas.png" alt="">
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-footer>
    <ion-toolbar color="dark">
      <ion-icon slot="primary" name="logo-instagram"></ion-icon>
      <ion-icon slot="secondary" name="globe"></ion-icon>
      <ion-title>DUOC UC</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>