#tituloLogin{
    text-align: center;
    padding-top: 10px;
    font-size: x-large;
}
.ion-row{
    background-color: black;
}
#toolbar{
    background-color: black;
}
#texto_footer{
    font-size: 10px;
}