.textoCaja1{
    text-align: center;
}
.textoCaja2{
    text-align: center;
}
.textoCaja3{
    text-align: center;
}
.text-primary{
    color : var(--ion-color-primary) !important;
}
.noticia-source-name{
    font-size: 12px;
    color: #dfddd9;
}
.texto-label{
    font-size: 22px;
    text-align: center;
}