<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="desplegarMenu()">
        <ion-icon slot="start" name="menu" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/evento bmx.png" alt="">
    <ion-item color="dark">
      <ion-label>Evento Wake up</ion-label>
    </ion-item>
    <ion-text color="dark" class="textoCaja1">
      <h6>
        Hoy nos visitó en sede Maipú el rider nacional 
        Tomas Fuentes con su proyecto Wakeupbytf , 
        el cual busca incentivar a través del BMX el deporte en los 
        jóvenes.
      </h6>
    </ion-text>
  </ion-card>
  <ion-card>
    <img src="/assets/Eventoauto.png" alt="">
    <ion-item color="dark">
      <ion-label>Exhibición de vehiculos </ion-label>
    </ion-item>
    <ion-text color="dark" class="textoCaja1">
      <h6>
        ¡Volvimos con todo! 🚘💨

¡El Duoc #Mechanic Fest te espera en el Hall Central de 
la sede para que disfrutes de una exposición de 
spectaculares autos, equipos y mucho más! 🏎🚘

Por supuesto, junto a nuestros amigos de @lovcars
      </h6>
    </ion-text>
  </ion-card>
  <ion-card>
    <img src="/assets/futsal.png" alt="">
    <ion-item color="dark">
      <ion-label>Campeonato de futsal</ion-label>
    </ion-item>
    <ion-text color="dark" class="textoCaja1">
      <h6>
        ¡Que buena noticia! 😃

        La unidad de Deportes y Actividad Física se suma a la celebración de nuestros #25añosduocsancarlos 🎊⚡️🎈🎉🎉 y te invita a participar en el 👉 Campeonato FUTSAL INTER ESCUELAS ⚽️ 🏆 25 años @duoc_sancarlos 🎊
        
        ¿Cómo hacerlo? 👀
        Inscríbete en el formulario publicado en biografía o enviamos link por interno.
        
        🔸️Categoría hombres y mujeres con un mínimo de 6 y un máximo de 10 jugadores.
        
        Cuéntales a tus compañeros y arma tu equipo! 🤗🙋🙋‍♀️🤩
      </h6>
    </ion-text>
  </ion-card>
  <ion-card>
    <img src="/assets/eventosolidario.png" alt="">
    <ion-item color="dark">
      <ion-label>[MISIONES SOLIDARIAS]</ion-label>
    </ion-item>
    <ion-text color="dark" class="textoCaja1">
      <h6>
        Y qué están haciendo los estudiantes en misiones ⁉️
        Por ahora recorriendo y conociendo a los vecinos ... haciendo amigos, generando comunidad y preparando los trabajos misioneros
        Mucha energía para ustedes ‼️
        Qué hermosa experiencia y gracias a los profes que acompañan 🙌
        #misionesdeinvierno
      </h6>
    </ion-text>
  </ion-card>
  <ion-card>
    <img src="/assets/teatro.png" alt="">
    <ion-item color="dark">
      <ion-label>Semana del Teatro</ion-label>
    </ion-item>
    <ion-text color="dark" class="textoCaja1">
      <h6>
        En nuestros 25 años @duoc_sancarlos estamos felices 🤩 de anunciar la programación de la Semana del Teatro organizada por la carrera de Actuación de nuestra sede!!
        Carrera de la Escuela de Comunicación que tambien celebra sus 25 primaveras 🙌🎉🎊
        Desliza 📸 y conoce las distintas actividades.
        Si quieres participar y celebrar los 25 años de nuestra sede y carrera de 🎭 Actuación inscribete en el link 🔍publicado en la biografía.
      </h6>
    </ion-text>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-icon slot="primary" name="logo-instagram"></ion-icon>
    <ion-icon slot="secondary" name="globe"></ion-icon>
    <ion-title>DUOC UC</ion-title>
  </ion-toolbar>
</ion-footer>