<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="desplegarMenu()">
        <ion-icon slot="start" name="menu" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion value="primer">
      <ion-item slot="header" color="dark">
        <img src="/assets/iconodev.png" alt="" slot="start">
        <h6>PROGRAMACIÓN WEB 002D</h6>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-item color="warning">
            <ion-label>NOMBRES Y RUTS</ion-label>
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
        </ion-card>
        <ion-button expand="full" color="warning" routerLink="/notas">
          Ver Notas
        </ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="segundo">
      <ion-item slot="header" color="dark">
        <img src="/assets/iconodev.png" alt="" slot="start">
        <h6>PROGRAMACIÓN WEB 012D</h6>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-item color="warning">
            <ion-label>NOMBRES Y RUTS</ion-label>
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
        </ion-card>
        <ion-button expand="full" color="warning" routerLink="/notas">
          Ver Notas
        </ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="tercer">
      <ion-item slot="header" color="dark">
        <img src="/assets/iconodev.png" alt="" slot="start">
        <h6>PROGRAMACIÓN WEB 008D</h6>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-item color="warning">
            <ion-label>NOMBRES Y RUTS</ion-label>
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
        </ion-card>
        <ion-button expand="full" color="warning" routerLink="/notas">
          Ver Notas
        </ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="cuarto">
      <ion-item slot="header" color="dark">
        <img src="/assets/iconodev.png" alt="" slot="start">
        <h6>PROGRAMACIÓN WEB 005D</h6>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-item color="warning">
            <ion-label>NOMBRES Y RUTS</ion-label>
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
          <ion-item>
            Diego Ulloa 18.234.551-3
          </ion-item>
        </ion-card>
        <ion-button expand="full" color="warning" routerLink="/notas">
          Ver Notas
        </ion-button>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-icon slot="primary" name="logo-instagram"></ion-icon>
    <ion-icon slot="secondary" name="globe"></ion-icon>
    <ion-title>DUOC UC</ion-title>
  </ion-toolbar>
</ion-footer>