<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="desplegarMenu()">
        <ion-icon slot="start" name="menu" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-accordion-group>
    <ion-accordion value="primer">
      <ion-item slot="header" color="warning">
        <img src="/assets/iconodev.png" alt="" slot="start">
        <h6>PROG.WEB - 008D</h6>
      </ion-item>
      <div class="ion-padding" slot="content" id="cajaAsigs">
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 1</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 1 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 2 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 3 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 4 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 2</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 5 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 6 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 7 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 8 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 3</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 9 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 10 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 11 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 12 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-accordion>
    <ion-accordion value="segund">
      <ion-item slot="header" color="warning">
        <img src="/assets/iconocalidad.png" alt="" slot="start">
        <h6>CALIDAD SOFTWARE - 002D</h6>
      </ion-item>
      <div class="ion-padding" slot="content" id="cajaAsigs">
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 1</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 1 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 2 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 3 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 4 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 2</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 5 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 6 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 7 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 8 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 3</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 9 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 10 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 11 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 12 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-accordion>
    <ion-accordion value="tercer">
      <ion-item slot="header" color="warning">
        <img src="/assets/icons8-estadísticas-48.png" alt="" slot="start">
        <h6>ESTADISTICA DESCRIPTIVA - 005D</h6>
      </ion-item>
      <div class="ion-padding" slot="content" id="cajaAsigs">
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 1</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 1 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 2 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 3 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 4 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 2</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 5 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 6 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 7 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 8 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 3</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 9 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 10 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 11 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 12 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-accordion>
    <ion-accordion value="cuarto">
      <ion-item slot="header" color="warning">
        <img src="/assets/icons8-base-de-datos-48.png" alt="" slot="start">
        <h6>BASES DE DATOS - 013D</h6>
      </ion-item>
      <div class="ion-padding" slot="content" id="cajaAsigs">
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 1</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 1 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 2 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 3 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 4 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 2</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 5 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 6 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 7 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 8 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 3</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 9 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 10 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 11 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 12 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-accordion>
    <ion-accordion value="quinto">
      <ion-item slot="header" color="warning">
        <img src="/assets/icons8-gestión-de-proyectos-48.png" alt="" slot="start">
        <h6>ARQUITECTURA - 002D</h6>
      </ion-item>
      <div class="ion-padding" slot="content" id="cajaAsigs">
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 1</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 1 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 2 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 3 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 4 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 2</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 5 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 6 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 7 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 8 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 3</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 9 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 10 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 11 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 12 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-accordion>
    <ion-accordion value="sexto">
      <ion-item slot="header" color="warning">
        <img src="/assets/icons8-películas-británicas-48.png" alt="" slot="start">
        <h6>INGLÉS INTERMEDIO - 028D</h6>
      </ion-item>
      <div class="ion-padding" slot="content" id="cajaAsigs">
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 1</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 1 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 2 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 3 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 4 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 2</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 5 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 6 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 7 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 8 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 3</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 9 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 10 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 11 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 12 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-accordion>
    <ion-accordion value="septimo">
      <ion-item slot="header" color="warning">
        <img src="/assets/icons8-maletín-48.png" alt="" slot="start">
        <h6>PROCESO PORTAFOLIO - 010D</h6>
      </ion-item>
      <div class="ion-padding" slot="content" id="cajaAsigs">
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 1</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 1 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 2 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 3 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 4 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 2</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 5 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 6 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 7 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 8 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-item color="warning">
            <ion-label>EXPERIENCIA 3</ion-label>
          </ion-item>
          <ion-item color="dark">
            <ion-label>Semana 9 - Laboratorio 01</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>Introduccion-001.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Comenzamos-002.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Conceptos Básicos-003.pdf <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 10 - Laboratorio 02</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 11 - Laboratorio 03</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
          <ion-item color="dark">
            <ion-label>Semana 12 - Laboratorio 04</ion-label>
          </ion-item>
          <ion-card-header>
            <h6>FrontEnd-004.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Cards y CSS-005.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
            <h6>Funciones de Bootstrap 5 -006.pptx <ion-icon slot="end" name="download" color="success"></ion-icon></h6>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>
<br>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-icon slot="primary" name="logo-instagram"></ion-icon>
    <ion-icon slot="secondary" name="globe"></ion-icon>
    <ion-title>DUOC UC</ion-title>
  </ion-toolbar>
</ion-footer>